language: android
jdk: oraclejdk7
android:
  components:
  - tools
  - build-tools-23.0.2
  - android-23
  - extra-android-m2repository
  - extra-android-support
  - addon-google_apis-google-23
env:
  global:
  - JAVA8_HOME=/usr/lib/jvm/java-8-oracle
before_install:
- openssl aes-256-cbc -K $encrypted_8745c88362bd_key -iv $encrypted_8745c88362bd_iv
  -in app.jks.enc -out app.jks -d
